.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# LaTex SVGs aux
content/img/*.4tc
content/img/*.4ct
content/img/*.aux
content/img/*.dvi
content/img/*.css
content/img/*.html
content/img/*.tmp
content/img/*.xref
content/img/*.log
content/img/*.lg
content/img/*.idv
