.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# LaTex SVGs aux
*.4tc
*.4ct
*.aux
*.dvi
*.css
*.html
*.tmp
*.xref
*.log
*.lg
*.idv
*.pdf
*.synctex*

# Python and aider-chat
.aider*
.venv/*
.env
